{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Projet FI - Interface Web</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body class="bg-light">
        <div class="container">

        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="{% static 'images/logo.png' %}" alt="" width="72" height="72">
            <h3>Envoyer une image pour obtenir automatiquement les relations spatiales existantes entre les objets de l'image</h3>
        </div>

        <div class="row">
            {% if relation %}
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Résultats :</span>
                    <span class="badge badge-secondary badge-pill">3</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">{{ relation }}</h6>
                        <small class="text-muted">Via Phi Descripteur</small>
                    </div>
                    <span class="text-muted">83%</span>
                    </li>
                </ul>
            </div>
            {% endif %}
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Méthode du Phi Descripteur</h4>
                <form method="post" action="/">
                    {% csrf_token %}
                    <div class="form-group files color">
                        <label>Uploader votre fichier (png, jpg, jpeg) </label>
                        <input type="file" name="image" class="form-control" multiple="">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Soumettre l'image</button>
                    </div>
                </form>   
            </div>
        </div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">Réalisé par Benjamin Kauffmann et Julien Champagne</p>
            <ul class="list-inline">
            <li class="list-inline-item"><a href="https://math-info.u-paris.fr/master-informatique/parcours-vision-et-machine-intelligente/">Université de Paris</a></li>
            </ul>
        </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
